/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
_ide_helper.php
_ide_helper_models.php
public/css/app.css
public/css/app.css.map
public/js/app.js
public/js/app.js.map
public/build/**
public/.htaccess
public/web.config